html {
  font-size: 16px;
  font-family: Arial;
}

.Drop-input {
  width: 100%;
  height: 60px;
  background-color: #ddd;
  text-align: center;
  padding-top: 40px;
}

.Div-files .File:first-child {
  border-top: 2px solid #37989291;
}

.File {
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid #37989291;
  padding: 0.7em 0;
}

.File-type {
  margin-left: 2em;
}

.Div-Button {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.Div-Button button {
  padding: 1em;
  background: #87bcde;
  border: none;
  box-shadow: 0px 1px 15px 1px #0000004f;
  cursor: pointer;
}

.File-button-remove {
  padding: 0.4em;
  background: #de3a36;
  border: none;
  box-shadow: 0px 1px 5px 1px rgba(208, 113, 113, 0.99);
  cursor: pointer;
  float: right;
  color: white;
  margin: 0 0 1em 0;
}
